@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,300;0,600;1,300;1,600&family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');


*{
    margin: 0;
    padding: 10;
}

/**
*
*   Header Design CSS
*
*
*/


header{
    background-image: linear-gradient(to right,hsl(13, 100%, 72%) , hsl(356, 100%, 66%));
    display: flex;
    flex-direction: row;
    padding: 50px 120px;
    justify-content:flex-start;
    font-family: 'Ubuntu';
}

nav{
    color: white;
    display: inline-block;
    padding-top: 10px;
    padding-left: 0%;
}

nav ul {
    display: flex;
}

nav ul li{
    list-style-type: none;
    font-size: 16px;
    padding: 0px 30px;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

nav ul li ul{
    position: absolute;
    flex-direction: column;
    display: none;
}

nav ul li:hover .subMenu{
    display: block;
    position: absolute;
    background-color: hsl(13, 100%, 72%);
}

nav ul li:hover .subMenu li{
    margin-top: 10px;
    padding: 10px 15px;
    margin-left: -30px;
}



header div{
   padding-left: 400px;
}

header div button,
.hero .start,
.hero .learn {
    margin-left: 30px;
    background-color: white;
    border: none;
    padding: 10px 30px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    border-radius: 30px;
    font-weight: 500;
    color: hsl(356, 100%, 66%);
}

header div button:hover{
    cursor: pointer;
}

header div a {
    color: white;
    text-decoration: none;
}


/***************** End of Header Design CSS ******************/


/**
*
*   Hero Design CSS
*
*
*/

.hero{
    background-image: linear-gradient(to right,hsl(13, 100%, 72%) , hsl(356, 100%, 66%));
    text-align: center;
    padding: 30px 0;
    border-bottom-left-radius: 100px;
}

.hero{
    font-family: 'Overpass',sans-serif;
    color: white;
}

.hero h1 {
    padding: 50px 0 20px 0;
    font-size: 50px;
    font-weight: 500;
}

.hero h6{
    font-size: 20px;
    color: hsl(0, 42%, 88%);
    font-weight: 300;
    padding: 0 0 30px 0;
}

.hero div{
    padding: 0 0 150px;
}

.hero .learn{
    background: transparent;
    color: white;
    border: 1px solid white;
}
/***************** End of Hero Design CSS ******************/